.git
.github
.venv
.vscode
.idea
docs
scripts
solution
**/__pycache__
**/*.pyc
**/*.pyo
*.log
uvicorn.err
uvicorn.out
.env
.env.*
!.env.sample
node_modules
Dockerfile
.dockerignore
_config.yml
Gemfile
Gemfile.lock
README.md
index.md
